ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

.hidden-link {
  position: absolute;
  top: 55px;
  background-color: rgb(202, 111, 111);
  text-align: center;
  padding: 10px 15px 0 15px;
  border-radius: 10px;
  right: -50%;
  display: none;
  transition: opacity 3000ms linear;
  border: 2px solid #000;
  opacity: 0;
}
.hidden-link li:not(:last-child) {
  margin-bottom: 10px;
}
.hidden-link a {
  color: #000;
  transition: color 300ms linear;
}
.hidden-link a:hover, .hidden-link a:focus {
  color: white;
}

.arrow-header {
  background-color: rgb(202, 111, 111);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -7.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.header-link:hover .hidden-link,
.header-link:focus .hidden-link {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

header .container {
  display: flex;
  align-items: center;
}

.header-link-list {
  display: flex;
}

.header-logo {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  margin-right: auto;
  transition: color 300ms linear;
}
.header-logo:hover, .header-logo:focus {
  color: #fff;
}

.header-link {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
  transition: color 300ms linear;
}
.header-link:not(:last-child) {
  margin-right: 40px;
}
.header-link:hover, .header-link:focus {
  color: white;
}

header {
  background-color: rgb(121, 121, 121);
  width: 100%;
}

.top-info .container {
  text-align: center;
}

.top-info-logo {
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 700;
}

section {
  position: relative;
}

.test-battery {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(180deg);
}
.test-battery:hover .energy {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btr {
  height: 300px;
  width: 150px;
  border: 4px solid black;
  border-radius: 10px;
  padding: 3px;
}

.energy {
  display: block;
  width: 100%;
  border-radius: 5px;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    height: 0;
    background-color: red;
  }
  50% {
    height: 50%;
    background-color: rgb(225, 255, 0);
  }
  100% {
    height: 100%;
    background-color: rgb(60, 255, 0);
  }
}

@keyframes animate {
  0% {
    height: 0;
    background-color: red;
  }
  50% {
    height: 50%;
    background-color: rgb(225, 255, 0);
  }
  100% {
    height: 100%;
    background-color: rgb(60, 255, 0);
  }
}
.test-loader {
  position: absolute;
  top: -140px;
  left: 350px;
  transform: translateX(-50%) translateY(50%);
  background-color: rgba(0, 0, 0, 0.195);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-radius {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-left: 2px solid black;
  -webkit-animation: loader 3s linear infinite;
          animation: loader 3s linear infinite;
}

.text-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translateX(-50%) translateY(-120%);
  font-size: 20px;
  font-weight: 700;
}

.loader {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: -17px;
  left: 30%;
  -webkit-animation: loadercolor 8s linear infinite;
          animation: loadercolor 8s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0);
    border-color: #000;
  }
  25% {
    border-color: rgb(48, 22, 22);
  }
  50% {
    border-color: rgb(25, 26, 59);
  }
  75% {
    border-color: rgb(13, 34, 11);
  }
  100% {
    transform: rotate(360deg);
    border-color: #000;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
    border-color: #000;
  }
  25% {
    border-color: rgb(48, 22, 22);
  }
  50% {
    border-color: rgb(25, 26, 59);
  }
  75% {
    border-color: rgb(13, 34, 11);
  }
  100% {
    transform: rotate(360deg);
    border-color: #000;
  }
}
@-webkit-keyframes loadercolor {
  0% {
    transform: rotate(0);
    box-shadow: 0px 0px 10px 5px rgba(206, 2, 2, 0.453);
  }
  25% {
    box-shadow: 0px 0px 15px 10px rgba(2, 46, 206, 0.453);
  }
  50% {
    box-shadow: 0px 0px 10px 5px rgba(206, 189, 2, 0.453);
  }
  75% {
    box-shadow: 0px 0px 15px 10px rgba(2, 206, 29, 0.453);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 5px rgba(206, 2, 2, 0.453);
  }
}
@keyframes loadercolor {
  0% {
    transform: rotate(0);
    box-shadow: 0px 0px 10px 5px rgba(206, 2, 2, 0.453);
  }
  25% {
    box-shadow: 0px 0px 15px 10px rgba(2, 46, 206, 0.453);
  }
  50% {
    box-shadow: 0px 0px 10px 5px rgba(206, 189, 2, 0.453);
  }
  75% {
    box-shadow: 0px 0px 15px 10px rgba(2, 206, 29, 0.453);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 5px rgba(206, 2, 2, 0.453);
  }
}
.loader-dots {
  position: absolute;
  top: 10px;
  left: 35%;
  border: 4px solid black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: aquamarine;
}

.loader-test-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 140px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dots {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: radial-gradient(circle at top right, white 5%, rgb(51, 51, 51) 50%);
}
.dots-first {
  -webkit-animation: firstdots 1.5s linear infinite;
          animation: firstdots 1.5s linear infinite;
}
.dots-first::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: -5px;
  background-color: rgba(0, 0, 0, 0.201);
  border-radius: 50%;
  -webkit-animation: shadowdots 1.5s linear infinite;
          animation: shadowdots 1.5s linear infinite;
}
.dots-second {
  transform: translateY(-50%);
  -webkit-animation: seconddots 1.5s linear infinite;
          animation: seconddots 1.5s linear infinite;
}
.dots-second::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: -5px;
  background-color: rgba(0, 0, 0, 0.201);
  border-radius: 50%;
  -webkit-animation: shadowsdots 1.5s linear infinite;
          animation: shadowsdots 1.5s linear infinite;
}
.dots-last {
  transform: translateY(-100%);
  -webkit-animation: lastdots 1.5s linear infinite;
          animation: lastdots 1.5s linear infinite;
}
.dots-last::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: -5px;
  background-color: rgba(0, 0, 0, 0.201);
  border-radius: 50%;
  -webkit-animation: shadowldots 1.5s linear infinite;
          animation: shadowldots 1.5s linear infinite;
}

@-webkit-keyframes shadowldots {
  0% {
    transform: scaleY(0.3) scale(1);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(0);
  }
  75% {
    transform: scaleY(0.3) scale(0);
  }
  100% {
    transform: scaleY(0.3) scale(1);
  }
}

@keyframes shadowldots {
  0% {
    transform: scaleY(0.3) scale(1);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(0);
  }
  75% {
    transform: scaleY(0.3) scale(0);
  }
  100% {
    transform: scaleY(0.3) scale(1);
  }
}
@-webkit-keyframes shadowsdots {
  0% {
    transform: scaleY(0.3) scale(0);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(0);
  }
  75% {
    transform: scaleY(0.3) scale(1);
  }
  100% {
    transform: scaleY(0.3) scale(0);
  }
}
@keyframes shadowsdots {
  0% {
    transform: scaleY(0.3) scale(0);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(0);
  }
  75% {
    transform: scaleY(0.3) scale(1);
  }
  100% {
    transform: scaleY(0.3) scale(0);
  }
}
@-webkit-keyframes shadowdots {
  0% {
    transform: scaleY(0.3) scale(0);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(1);
  }
  75% {
    transform: scaleY(0.3) scale(0);
  }
  100% {
    transform: scaleY(0.3) scale(0);
  }
}
@keyframes shadowdots {
  0% {
    transform: scaleY(0.3) scale(0);
  }
  25% {
    transform: scaleY(0.3) scale(0);
  }
  50% {
    transform: scaleY(0.3) scale(1);
  }
  75% {
    transform: scaleY(0.3) scale(0);
  }
  100% {
    transform: scaleY(0.3) scale(0);
  }
}
@-webkit-keyframes lastdots {
  0% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  10% {
    border-radius: 50%;
    transform: translateY(-50%) scaleY(1);
  }
  25% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  50% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  55% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  75% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  100% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
}
@keyframes lastdots {
  0% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  10% {
    border-radius: 50%;
    transform: translateY(-50%) scaleY(1);
  }
  25% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  50% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  55% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  75% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  100% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
}
@-webkit-keyframes seconddots {
  0% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  10% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  25% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  30% {
    border-radius: 50%;
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  50% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  75% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  100% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
}
@keyframes seconddots {
  0% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  10% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  25% {
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  30% {
    border-radius: 50%;
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  50% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  75% {
    transform: translateY(0) scaleY(0.6);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  100% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
}
@-webkit-keyframes firstdots {
  0% {
    transform: translateY(-200%) scaleY(0.8);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  5% {
    border-radius: 50%;
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  10% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  25% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  50% {
    transform: scaleY(0.8) translateY(0);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  75% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  100% {
    transform: translateY(-200%) scaleY(0.8);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
}
@keyframes firstdots {
  0% {
    transform: translateY(-200%) scaleY(0.8);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  5% {
    border-radius: 50%;
    transform: translateY(-200%) scaleY(0.6);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
  10% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  25% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  40% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  50% {
    transform: scaleY(0.8) translateY(0);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  60% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-50%);
  }
  75% {
    transform: translateY(-100%);
    border-radius: 50%;
  }
  90% {
    border-radius: 50%;
    transform: scaleY(1) translateY(-150%);
  }
  100% {
    transform: translateY(-200%) scaleY(0.8);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }
}
.test-four {
  position: absolute;
  top: 10px;
  left: 60%;
}

.bbb {
  width: 300px;
  height: 150px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.line-load {
  width: 54px;
  height: 100%;
  background-color: rgb(86, 86, 86);
  border-radius: 20px;
}
.line-load:nth-child(1) {
  -webkit-animation: lineloadfirst 3s linear infinite;
          animation: lineloadfirst 3s linear infinite;
}
.line-load:nth-child(2) {
  -webkit-animation: lineloadsecond 3s linear infinite;
          animation: lineloadsecond 3s linear infinite;
}
.line-load:nth-child(3) {
  -webkit-animation: lineloadthree 3s linear infinite;
          animation: lineloadthree 3s linear infinite;
}
.line-load:nth-child(4) {
  -webkit-animation: lineloadfour 3s linear infinite;
          animation: lineloadfour 3s linear infinite;
}
.line-load:nth-child(5) {
  -webkit-animation: lineloadlast 3s linear infinite;
          animation: lineloadlast 3s linear infinite;
}

@-webkit-keyframes lineloadfirst {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lineloadfirst {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineloadsecond {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineloadsecond {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineloadthree {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineloadthree {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineloadfour {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineloadfour {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineloadlast {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineloadlast {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.clock-test {
  position: absolute;
  top: 200px;
  left: 60%;
}

.clock {
  width: 300px;
  height: 300px;
  border: 6px solid black;
  border-radius: 50%;
  position: relative;
}

.tt {
  position: absolute;
  display: block;
  height: 30px;
  width: 10px;
  background-color: #000;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.ll {
  position: absolute;
  display: block;
  height: 30px;
  width: 10px;
  background-color: #000;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(-90deg);
}

.rr {
  position: absolute;
  display: block;
  height: 30px;
  width: 10px;
  background-color: #000;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(-90deg);
}

.bb {
  position: absolute;
  display: block;
  height: 30px;
  width: 10px;
  background-color: #000;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-99%);
}

.big-arrow {
  height: 100px;
  display: block;
  width: 10px;
  background-color: #000;
  position: absolute;
  top: 16%;
  left: 145px;
  transform-origin: bottom center;
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
  -webkit-animation: clock 1s linear infinite;
          animation: clock 1s linear infinite;
}

.small-arrow {
  height: 70px;
  display: block;
  width: 10px;
  background-color: #000;
  position: absolute;
  top: 27%;
  left: 145px;
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
  transform-origin: bottom center;
  -webkit-animation: clocks 12s linear infinite;
          animation: clocks 12s linear infinite;
}

@-webkit-keyframes clock {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clock {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes clocks {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes clocks {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
}

.ff {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  font-weight: 700;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.dark {
  background-color: #000;
}

.btn {
  position: absolute;
  bottom: 0;
}

body {
  transition: background-color 300ms linear;
}

.wraper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #252525;
  transition: background-color 400ms linear, opacity 400ms linear;
}
.wraper_lock {
  background-color: rgb(70, 20, 20);
}
.wraper_unlock {
  opacity: 0;
}

.locker_input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  border-radius: 20px;
  height: 50px;
  width: 300px;
  background-color: #4e4e4e;
  border: 2px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  outline: none;
  transition: border-color 300ms linear;
}
.locker_input::-moz-placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.481);
}
.locker_input:-ms-input-placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.481);
}
.locker_input::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.481);
}
.locker_input:hover {
  border-color: greenyellow;
}
.locker_input_lock {
  border-color: red;
}

.locker_submit {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 120px;
  background-color: darkgreen;
  transform: translateX(-50%);
  border: 2px solid black;
  outline: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 300ms linear;
}
.locker_submit:hover {
  background-color: rgb(2, 149, 2);
}/*# sourceMappingURL=main.css.map */